<div>
  <% @products.each do |product| %>
    <%= div_for product do %>
      <% if product.category.include? "Men" %>
        <%= product.name %>: <%= product.price %> 
         <%= form_for product do |f| %>
          <%= f.submit 'Add to cart' %>
         <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>