<div>

  <% @mensproducts.each do |product| %>
    <%= div_for product do %>
        <%= product.name %>: <%= number_to_currency(product.price, unit: "£") %> <br>
        Number in stock: <%= product.quantity%><br>
          <% if %>
           <% product.quantity <= 0 %>
           <%= "This product is out of stock" %>
          <%else%>
           <%= form_for product do |f| %>
           <%= f.submit 'Add to cart' %>
          <%end%>
         <% end %>
      <% end %>
    <% end %>
</div>