<div class='container'>
  <div class='row'>
    <% @womensproducts.sort.each do |product| %>
      <div class=" col-lg-4 col-md-5 col-sm-6 productbox" style="padding: 0;">
        <div class="imgthumb img-responsive">
          <%= image_tag(product.id.to_s + " " + product.name) %>
        </div>
          <div class="caption">
            <%= div_for product do %>
              <h5><%= product.name %>: <%= number_to_currency(product.price, unit: "£") %><br>
                Number in stock: <%= product.quantity%>
              </h5>
                <% if %>
                  <% product.quantity <= 0 %>
                  <%= "This product is out of stock" %>
                <%else%>
                  <%= form_for product do |f| %>
                    <%= f.submit 'Add to cart', :class => 'product_add' %>
                  <%end%>
                <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
